<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
			<meta charset="utf-8" />
			<title>Evaluacion Anonima</title>
			<!-- Agregar bootstrap en cuestion de estilos css -->
			
			<link rel="stylesheet" type="text/css" th:href="@{css/estilos.css}"> 
			
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
			integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/inicioSesion}">Iniciar Sesión</a>
		<a class="navbar-brand" th:href="@{/registrarse}">Registrarse</a>
	</nav>

	<br>
	<br>

	<div class="container" style="border:1px solid #C7C8C6;border-radius:22px;width:70%;height:900px;margin-left: auto;margin-right: auto;">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div th:if=${param.exito}>
					<div class="alert alert-info">Se ha registrado exitosamente a
						la aplicación</div>
				</div>

				<div style="border:1px solid #AFB0AE;border-radius:15px; width:500px;height:55px;"><h1>Datos personales</h1></div><br><br>
				<form th:action="@{/registro}" method="post" th:object="${usuario}">
					<div class="form-group">
						<label class="control-label" for="nombre">Nombre : </label> <input
							id="nombre" type="text" class="form-control" th:field="*{nombre}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="apellido">Apellido : </label> <input
							id="apellido" class="form-control" th:field="*{apellido}"
							required autofocus="autofocus">
					</div>
					
				 <div class="form-group">
						<label class="control-label" for="apellidoMat">Apellido Materno: </label> <input
							id="apellidoMat" class="form-control" th:field="*{apellidoMat}"
							required autofocus="autofocus">
					</div>
					
				<div class="form-group">
						<label class="control-label" for="matricula">Matricula : </label> <input
							id="matricula" class="form-control" th:field="*{matricula}"
							required autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label class="control-label" for="edad">Edad : </label> <input
							id="edad" class="form-control" th:field="*{edad}"
							required autofocus="autofocus">
					</div>	

					<div class="form-group">
						<label class="control-label" for="email">Email : </label> <input
							id="email" type="email" class="form-control" th:field="*{email}"
							required autofocus="autofocus">
					</div>

					<div class="form-group">
						<label class="control-label" for="password">Password : </label> <input
							type="password" id="password" class="form-control" th:field="*{password}"
							required autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label class="control-label" for="actividad">Curso: </label> <select
							type="password" id="actividad" class="form-control" 
							required autofocus="autofocus">
								<option>Matematicas</option>
								<option>ProgWeb</option>
								<option>Arduino</option>
							</select>
					</div>

					<div class="form-group">
						<br><button type="submit" class="btn btn-success" style="display: block; margin: 0 auto;" >Registrar</button><br>
						<span>Si estas registrado <a th:href="@{/login}">inicia sesión aqui</a></span>
					</div>
				</form>

			</div>
		</div>
	</div>


	 	<script src="webjars/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
		<script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js" type="text/javascript"></script>
     	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>